
.marquee_bg_color P{
color: rgb(255,255,255) ;
font-size:15px ;
background: rgb(124,38,220);

}
.img_size_logoo a img{
    width: 90px;
    height: 90px;
}
.color_nav ul li a{
    color: black;
    font-weight: 800;
}

.dropbtn {
  
    color: black;
    font-weight: 800;
    padding: 16px;
   
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 85vh;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropbtn {
    background-color: transparent; 
    color: inherit; 
    border: none; 
    padding: 0; 
    font-size: inherit; 
    cursor: pointer; 
    margin-left: 20px;
  }
  



  
  .dropdown-content a {
    color: black;
    padding: 8px 13px;
    text-decoration: none;
    display: block;
    
    
  }
  .navbaratagmen ul li{
    width: 60vh;
        /* background: red; */

  }
  
  .dropdown-content a:hover {background-color: #ddd;
  font-size: 14px;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .menu_img img{
    width: 60px;
    height: 60px;
  }

  .menu-links {
    display: flex;
  }
  
  .menu-links a {
    margin-right: 10px; 
    text-decoration: none;
    color: black;
  }
  
  .menu-links a:hover {
    text-decoration: underline;
  }


  .img_size_red img{
    width: 25px;
    height: 25px;
  }


  .img_size_small_dev img{
    width: 30px;
    height: 30px;
   margin-left: 14px;
  }





