
@media only screen and (max-width: 768px) {
   .media_qu {
      max-height: 100px;
      overflow-y: auto;
   }

   .smallscreen {
      font-size: 14px;
   }

}



@media only screen and (max-width: 768px) {
   .card_containerCombo {
      max-width: 200px;
      margin-left: 35px;
      padding: 10px;
   }

   .fixed_img_combo {
      width: 100%;
      padding: 10px;
      height: 40vh;
      object-fit: cover;
   }

}



@media only screen and (max-width: 480px) {
   .card_containerCombo {
      max-width: 250px;
      margin-left: 38px;
      padding: 10px;

   }

   .fixed_img_combo {
      width: 100%;
      padding: 10px;
      height: 40vh;
      object-fit: cover;
   }

}

.card_containerCombo {
   transition: opacity 0.8s ease, transform 0.8s ease;
   cursor: pointer;
}

.card_containerCombo:hover {
   opacity: 1;
   transform: translateY(-25px);
}

.card-container {
   position: relative;
}

.card-container img {
   width: 100%;
   transition: opacity 0.5s ease;
}

.card-container img.back-img {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.5s ease;
}

.card-container:hover img.front-img {
   opacity: 0;
}

.card-container:hover img.back-img {
   opacity: 1;
}

.smallscreenRadio .form-check {
   display: inline-block;
   margin-right: 10px;
}

/* Styling for small screens */
@media (max-width: 768px) {
   .smallscreenRadio .form-check {
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
   }
  
}


.share_icon_container {
   display: none;
 }
 
 .shareicons:hover .share_icon_container {
   display: block;
 }


 .fixed_card_size {
   width: auto; 
   height: 400px; 
   overflow: hidden; 
 }
 
 .fixed_img {
   object-fit: cover; 
 }
 .fixed_card_video {
 
   object-fit: cover; 
 }
 
 .fixed_card_container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 


