/* .single_img img{
    height: 50vh;
    width: 50vh;
    object-fit: cover;
} */


.text_color_heading{
    font-weight: bold;
  }
  .text_color_heading_back{
  background: rgb(124,38,220);
  color:white;
  }

  .font_size_tax{
    font-size: 13px;
}
.font_size_bought{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.bg_sales_end{
    background: rgb(172,242,200);
}
.bg_sales_end h1{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(41,50,99);
}
.orderli{
    list-style: none;
}
.background_color_name {
    background: rgb(124,38,220);
}
.img_size{
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .background_color_name {
        background: rgb(124,38,220);
        font-size: 12px;
    }
   
  }

  .addecardimg img{
    
    width: 120px;
    height: 150px;
   

  }
  .Success_color{
    color: rgb(40, 134, 45);
  }
.font_size button{
  font-size: 14px;
}


.quantity-control {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 15vh;
    border-radius: 10px;
  }
  
  .quantity-selector__button {
    padding: 6px 10px; 
    font-size: 14px; 
border: none;
    margin: 0; 
    border-radius: 5px;
  }
  
  .QuantityDisplay {
    border: none;
    width: 30px; 
    text-align: center;
    margin: 0 5px; 
  }
  .fontfamily{
    font-family:sans-serif;
  }
  .bg_color_buy_now button{
    background: rgb(124,38,220);
    color: white;
    font-weight: bold;
    
  }
  .bg_color_buy_now button:hover{
    background: rgb(96, 220, 38);
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  .bluecolor{
    color:rgb(44, 26, 120) ;
  }


  .slider-container {
    height: 400px; 
    overflow: hidden;
  }
  
  .single_img {
    height: 70vh; 
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .single_img img {
    object-fit: cover; /* Ensure the image covers the entire space */
    width: 100%; /* Ensure the image fills the entire container */
    height: 100%; /* Ensure the image fills the entire container */
  }
  
  .small-images-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .small-image-box {
    width: 50px; 
    height: 60px; 
    overflow: hidden;
  }
  
  .small-image-box img {
    width: 100%;
    height: 90px;
    object-fit: cover; /* Ensure the small images cover the entire space */
  }
  

  